@use 'variables';

.btn-primary {
	width: 100%;
	padding: 16.5px 14px;
	background-color: variables.$color-red;
	border: none;
	outline: none;
	border-radius: 10px;
	color: variables.$color-white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-family: variables.$font-primary;
	gap: 2px;
	height: 52px;
	&__icon {
		width: 20px;
		height: 20px;
		padding-top: 3px;
	}
	&--home {
		@media (min-width: variables.$breakpoint-md) {
			width: 201px;
		}
	}
	&--about {
		@media (min-width: variables.$breakpoint-md) {
			width: 263px;
		}
	}
	&--white {
		background-color: variables.$color-white;
		color: variables.$color-red;
		max-width: 280px;
		font-weight: 700;
	}
}
