@use '../../base/variables';
.carousel {
	display: flex;
	flex-direction: column;
	background-color: variables.$color-brick;
	@media (min-width: variables.$breakpoint-lg) {
		flex-direction: row;
	}
}
.carousel__box {
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media (min-width: variables.$breakpoint-lg) {
		width: 50%;
		padding-left: 230px;
		padding-right: 40px;
		justify-content: center;
		max-height: 820px;
		gap: 30px;
	}
}
.carousel__title {
	color: variables.$color-white;
}
.carousel__text {
	color: variables.$color-white;
	&--part-two {
		margin-top: -10px;
		@media (min-width: variables.$breakpoint-lg) {
			margin-top: -16px;
		}
	}
}
.carousel__review {
	margin-top: 40px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: variables.$color-white;
}
.carousel__quotes {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	&--last-quotes {
		justify-content: flex-end;
	}
}
.carousel__description {
	font-size: 20px;
	line-height: 30px;
}
.carousel__person {
	display: flex;
	align-items: center;
	gap: 20px;
}
.carousel__person__name {
	display: flex;
	flex-direction: column;
	font-weight: 400;
}
.carousel__person__name-span {
	font-weight: 500;
}
.carousel__person__img {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50px;
}
.carousel__arrows {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding-top: 10px;
}
.carousel__dot {
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: variables.$color-red;
	&.active {
		background-color: lighten(variables.$color-red, 20%);
		transform: scale(1.2);
	}
}

.carousel__btn {
	outline: none;
	background: none;
	border: none;
	width: 60px;
	height: 60px;
}
.carousel__arrow {
	width: 28px;
	height: 28px;
}
